<!-- rails indicator to include board js -->
<%= javascript_include_tag "web_audio_helpers" %>
<%= javascript_include_tag "sample_menu" %>
<%= javascript_include_tag "looping_helpers" %>
<%= javascript_include_tag "board_helpers" %>

<%= javascript_include_tag "board" %>


<!-- end rails indicator -->
<!-- full page wrapper -->
<div id="wrapper" class="toggled">
    <!-- sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#" style="color:yellow" id="change-pad">CHANGE PAD</a>
            </li>
            <li>
                <a href="#" style="color:red">LOAD BOARD</a>
            </li>
            <li>
                <a href="#" style="color:orange">SAVE BOARD</a>
            </li>
            <li>
                <%= link_to "ADD SAMPLE", new_sample_path,style:"color:green"  %>
            </li>
            <li>
                <a href="#" style="color:purple">INSTRUCTIONS</a>
            </li>
            <li>
                <a href="#" style="color:white">ABOUT</a>
            </li>
        <% if user_signed_in? %>
            <li>
                HELLO <%= current_user.email %>
            </li>
            <li>
                <%= link_to "SIGNOUT", destroy_user_session_path, method: :delete, style:"color:white"  %>
            </li>
        <% else %>
            <li>
                <%= link_to "Sign In", new_user_session_path, style:"color:white"  %>
            </li>
            <li>
                <%= link_to "Sign Up", new_user_registration_path, style:"color:white"  %>
            </li>
        <% end %>


        </ul>
    </div>
    <!-- end sidebar -->
    <!-- main page -->
    <div id="page-content-wrapper">

        <!-- animation layers for looper -->
        <div id="player-layer"></div>
        <div id="recording-layer"></div>
        <!-- end animation layers -->

        <!-- toggle button -->
        <button class="btn btn-default" id="menu-toggle"><span id="menu-arrow" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
        <!-- end toggle button -->

        <!-- board -->
        <div id="pad-0" data-id="0" class="button col-md-4 pad">T</div>
        <div id="pad-1" data-id="1" class="button col-md-4 pad">Y</div>
        <div id="pad-2" data-id="2" class="button col-md-4 pad">U</div>
        <div id="pad-3" data-id="3" class="button col-md-4 pad">G</div>
        <div id="pad-4" data-id="4" class="button col-md-4 pad">H</div>
        <div id="pad-5" data-id="5" class="button col-md-4 pad">J</div>
        <div id="pad-6" data-id="6" class="button col-md-4 pad">B</div>
        <div id="pad-7" data-id="7" class="button col-md-4 pad">N</div>
        <div id="pad-8" data-id="8" class="button col-md-4 pad">M</div>
        <!-- end board -->

        <!-- modal select pad message -->
        <div class="select-a-pad modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="select-a-pad modal-content">
                    <div class="select-a-pad modal-header">
                        <p>CLICK A PAD TO CHANGE ITS SAMPLE</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal -->
        <div id="sampleModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">CHOOSE A SAMPLE</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="modal-ul">
                        </ul>
                        <!-- append options here -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="confirm-sample">CONFIRM</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- end modal -->

    </div>
    <!-- end main page -->
</div>

<!-- end full page wrapper -->
